[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
qiskit-aer = "*"
matplotlib = "*"
pylatexenc = "*"
numpy = "*"
qiskit = {extras = ["visualization"], version = "*"}
qiskit-ibm-runtime = "*"

[dev-packages]

[requires]
python_version = "^3.10"
